<!DOCTYPE html>
<html>
    <head>
        <%- include('./common/header.ejs'); %>
        <script>
            function updateActionId() {
                const envelopeIDActionURL = document.getElementsByClassName('transaction_id');  
                const envelopeId = document.getElementById('input_id').value;
                const re = /[^/]*\?/;
                Array.from(envelopeIDActionURL).forEach(element => {
                    let splittedURL = element.formAction.split(re);
                    splittedURL.splice(1, 0, envelopeId, '?');
                    element.formAction = splittedURL.join('');
                });
            }
        </script>
    </head>
    <body>
        <h1>Personal Budget Management System</h1>
        <%- include('./common/nav.ejs'); %>
        <div class="confirm_msg">
            <%- include('./common/confirm.ejs'); %>
        </div>
        <div class="error_msg">
            <%- include('./common/error.ejs'); %>
        </div>
        <div class="center-align flexi_container">
            <div class="flexi_item">
                <button type="submit" form="transaction_form" formaction="/budget/transactions/" formmethod="GET">List all transactions</button>
                <button type="submit" class="transaction_id" form="transaction_form" formaction="/budget/transactions/" formmethod="GET">Select transaction</button>
                <button type="submit" form="transaction_form" formaction="/budget/transactions/" formmethod="POST">Add transaction</button>
                <button type="submit" class="transaction_id" form="transaction_form" formaction="/budget/transactions/?_method=PUT" formmethod="POST">Update transaction</button>
                <button type="submit" class="transaction_id" form="transaction_form" formaction="/budget/transactions/?_method=DELETE" formmethod="POST">Delete transaction</button>
            </div>
            <form id="transaction_form">
                <table>
                    <thead>
                        <tr>
                            <td><input type="input" id="input_id" name="id" placeholder="ID" onchange="updateActionId();"></input></td>
                            <td><input type="text" name="date" id="datepicker" placeholder="Pick a Date"></input></td>
                            <td><input type="input" name="amount" placeholder="Amount"></input></td>
                            <td><input style="min-width: 300px" type="input" name="recipient" placeholder="Recipient"></input></td>
                            <td><input type="input" name="envelopeId" placeholder="Envelope ID"></input></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>Date</td>
                            <td>Amount</td>
                            <td>Recipient</td>
                            <td>Envelope ID</td>
                        </tr>
                    </thead>
                    <% 
                        if (data) {
                            if (Array.isArray(data)) {
                                data.forEach((transaction) => {
                    %>
                            <tr>
                                <td class="result_id"><%= transaction.id %></td>
                                <td class="result_date"><%= transaction.date ? ( typeof transaction.date == "string" ? transaction.date : transaction.date.toDateString('en-GB')) : null %></td>
                                <td class="result_amount"><%= transaction.amount %></td>
                                <td class="result_recipient"><%= transaction.recipient %></td>
                                <td class="result_envelopeid"><%= transaction.envelopeId %></td>
                            </tr>
                    <%
                                });
                            } else {
                    %>
                            <tr>
                                <td class="result_id"><%= data.id %></td>
                                <td class="result_date"><%= data.date ? ( typeof data.date == "string" ? data.date : data.date.toDateString('en-GB')) : null %></td>
                                <td class="result_amount"><%= data.amount %></td>
                                <td class="result_recipient"><%= data.recipient %></td>
                                <td class="result_envelopeid"><%= data.envelopeId %></td>
                            </tr>
                    <%
                            };
                        };
                    %>
                </table>
            </form>    
        </div>
        <!-- <script type="module" src="../../node_modules/js-datepicker/dist/datepicker.min.js"></script> -->
        <script src="https://unpkg.com/js-datepicker"></script>
        <script>
            const picker = datepicker('#datepicker');
    
            picker.on('onSelect', (instance, date) => {
            console.log('Selected date:', date);
            });
        </script>
    </body>
</html>